.git
.github
.pytest_cache
.ruff_cache
.venv
.venv312
.mypy_cache
.coverage
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
.env
.knives-out-api
node_modules
frontend/node_modules
frontend/dist
coverage.json
htmlcov
dist
build
